/* Footer Start */
.whole-foot {
  background-color: #abffc1;
}
.foot-nav ul li {
  height: auto;
}

.foot-nav{
  width: 25%;
}
.foot-nav ul li a {
  color: #158d55;
  font-size: 30px;
  padding: 8px 12px;
  border-radius: 150px;
  border: 2px solid #158d55;
}
.foot-nav ul li a:hover {
  color: #abffc1;
  background-color: #158d55;
}
.foot-nav ul {
  margin-bottom: 0px;
  list-style: none;
}
footer div h5 a {
  text-decoration: none;
  color: #158d55;
}
footer div h5 a:hover {
  color: #158d55;
  text-decoration: underline;
}
/* Footer End */

@media (max-width: 768px) {
  .foot-nav {
    width: 50%;
  }
}
@media (max-width: 425px) {
  .foot-nav{
    width: 80%;
  }
}